  .frame {
    fill: none;
    stroke: #000;
  }
  
  .axis text {
    font: 10px sans-serif;
	font-weight: bold;
  }
  
  .degree
  {
	  font: 6px sans-serif !important;
  }
  
  .axis line,
  .axis circle {
    fill: none;
    stroke: steelblue;
    stroke-dasharray: 4;
  }
  
  .axis:last-of-type circle {
    stroke: steelblue;
    stroke-dasharray: none;
  }
  
path
{

	fill : blue;
	fill-opacity : 0.4;
}